* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .page{
    display: flex;
    flex-wrap: wrap;
  }
  
  .section{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu{
    background-color: #0b24fb;
    height: 80px;
  }

  .header{
    background-color: #f1eeee;
  }

  .content{
    background-color: #ffffff;
    height: 600px;
  }

  .sing_up{
    background-color: #29fd2f;
  }

  .feature-1{
    background-color: #ffffff;
  }

  .feature-2{
    background-color: #f1eeee;
  }

  .feature-3{
    background-color:#29fd2f;
  }

  /* Макет для мобильных */
  @media only screen and (max-width: 400px) {
    body {
      background-color: #29fd2f; /* Зеленый */
    }
  }
  
  /* Макет для планшетов */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .sing_up,
    .feature-1,
    .feature-2,
    .feature-3{
      width: 50%;
    }
  }
  
  /* Макет для десктопов */
  @media only screen and (min-width: 961px) {
    body {
      background-color: #0b24fb; /* Синий */
    }
  }